root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
indent_style = tab

# noinspection EditorConfigKeyCorrectness
[*.{kt,kts}]
ktlint_code_style = intellij_idea
ktlint_standard_comment-wrapping = disabled # Allow block comments inside parameter lists, e.g. func(/* thing = */ true)
ktlint_standard_function-expression-body = disabled

[*.md]
max_line_length = 100

[*.yaml]
indent_size = 2
